*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #0a090a;
  color: #fff;
  font-family: "Roboto", sans-serif;
  background-image: url("./img/main-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  /* Максимальная ширина нашего контейнера */
  max-width: 1140px;
  /* Выравниваем контейнер по центру */
  margin: auto;
}

/* Стили для шапки */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 35%;
}

.logo__link {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
}

.search {
  display: flex;
  align-items: center;
  flex: 0.8;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 5px;
  padding-left: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
  color: #aeaeae;
}

.search-input::-webkit-input-placeholder {
  /* Chrome */
  color: #aeaeae;
}

.search-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #aeaeae;
}

.search-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #aeaeae;
  opacity: 1;
}

.search-input:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #aeaeae;
  opacity: 1;
}

.search-button {
  padding: 10px 18px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
}

.bookmark {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.avatar {
  margin-left: 20px;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  background-image: url("./img/header/avatar.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  outline: none;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 64px;
  margin: 0;
  margin-bottom: 7px;
}

.title-en {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: #787878;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 38px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 108px;
}

.movie-info {
  display: flex;
  align-items: center;
}

.tag {
  display: inline-block;
  background: #ffffff;
  border-radius: 3px;
  padding: 5px 10px;
  color: #333333;
  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto", sans-serif;
  margin-right: 20px;
}

.country {
  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  margin-right: 33px;
}

.play {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #ffffff;
}

.play:before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("./img/main/play.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 15px;
}

.more {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #ffffff;
}

.more:after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("./img/main/play.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotate(90deg);
  margin-left: 15px;
}

.content {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 3px;
  color: black;
  padding: 3% 4%;
}

.poster {
  margin-top: -40%;
  margin-bottom: 20px;
  display: block;
}

.button {
  background: #ff8f27;
  padding: 10px 45px;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  border: none;
  margin-bottom: 30px;
  cursor: pointer;
  outline: none;
}

.short-info {
  margin-right: 3%;
}

.actors-title {
  margin: 0;
  line-height: 150%;
  font-weight: 900;
  font-size: 16px;
  padding-left: 15px;
  margin-bottom: 10px;
}

.actors-list {
  margin: 0;
  list-style: none;
  padding-left: 15px;
  text-decoration: underline;
  line-height: 150%;
}

.actors-list-item__link {
  text-decoration: none;
  color: #000000;
}

.full-content {
  display: flex;
  justify-content: center;
}

.full-info {
  flex: 0.95;
}

.tabs_content {
  margin-right: 70px;
}

.text {
  margin: 0;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 140%;
}

.text-title {
  margin: 0;
  padding-bottom: 30px;
}

.tabs {
  margin-bottom: 4%;
  display: flex;
  align-items: center;
}

.tabs-item {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
}

.tabs-item:not(:last-child) {
  margin-right: 4%;
}

.tabs-item-active {
  color: #ff8f27;
}

.title-form {
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 14px;
}

.bookmark-add {
  vertical-align: sub;
}

.email {
  position: relative;
  margin-bottom: 48px;
}

.form-input {

  border: none;
  outline: none;
  background: rgba(196, 196, 196, 0.5);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
  color: #aeaeae;
  top: 0;
  right: 0;
}

.form-check {
  position: absolute;
  top: 0;
  right: 0;
  background: #ff8f27;
  border-radius: 0px 5px 5px 0px;
  border: none;
  outline: none;
  padding: 12px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  body {
    background-size: auto;
  }

  .container {
    max-width: 960px;
  }

  .tabs-item {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 740px;
  }

  .tabs {
    flex-wrap: wrap;
  }

  .tabs-item {
    flex-basis: 20%;
    line-height: 2;
  }

  .full-content {
    flex-wrap: wrap;
  }

  .tabs_content {
    margin-bottom: 5%;
  }

  .text {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .more {
    display: none;
  }

  .tabs-item {
    flex-basis: 33%;
  }

  .tabs_content {
    margin-right: 0;
  }
}

@media (max-width: 578px) {
  .container {
    width: 90%;
  }

  .header {
    flex-wrap: wrap;
  }

  .search {
    flex-basis: 100%;
    order: 3;
    margin-top: 5%;
  }

  .content {
    flex-wrap: wrap;
  }

  .short-info {
    margin-bottom: 5%;
  }

  .actors-list,
  .actors-title {
    display: none;
  }

  .tabs-item {
    flex-basis: 100%;
  }

  .movie-info {
    flex-wrap: wrap;
  }

  .play {
    flex-basis: 100%;
    margin-top: 10%;
  }

  .short-info {
    margin-right: 0;
  }

  .poster {
    display: inline-block;
    width: 100%;
    margin-top: -20%;
  }

  .button {
    width: 100%;
    margin-bottom: 2%;
  }
}